* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

html,body{
    height: 100%;
}

/* ********************************* Desktop ********************************* */

/* -------------------- Header -------------------- */

.header{
    height: 100vh;
}

.title {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 1)
      ),
      url("/img/japan.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.title .title-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
}

.header .title .title-text h1{
    font-size: 8vw;
    margin: 0 auto;
    font-weight: bold;
    width: 100%;
}

.header .title .title-text h3{
    font-size: 2.5vw;
    margin: 0 auto;
    font-weight: 400;
    width: 80%;
}

.header .title .title-text a{
    border: 5px solid rgb(255, 255, 255, 0.5);
    color: white;
    margin-top: 4%;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: 900;
    transition: 0.5s;
}

.header .title .title-text a p{
    display: inline;
    padding-right: 1vw;
    transition: 0.5s;
}

.header .title .title-text a i{
    vertical-align: middle;
    transition: 0.5s;
}

.header .title .title-text a:hover{
    border: 5px solid #FF00F9;
}

.header .title .title-text a:hover p,
.header .title .title-text a:hover i{
    color: #0892D0;
}

.title .socials {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
}

.title .socials span{
    padding: 0 3% 0 3%;
    font-size: 2.5vw;
}

.title .socials a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    transition: 0.5s;
}

.title .socials a:hover{
    color: #FF00F9;
}

.title .socials span a i{
    vertical-align: middle;
}

/* -------------------- Header -------------------- */

/* ********************************* Desktop ********************************* */

/* ********************************* Tablets ********************************* */

@media screen and (max-width: 768px) {

    /* -------------------- Header -------------------- */

    .header .title .title-text h1{
        font-size: 12vw;
    }
    
    .header .title .title-text h3{
        font-size: 5vw;
    }

    .header .title .title-text a{
        font-size: 2.5vw;
        padding: 3% 8%;
    }

    /* -------------------- Header -------------------- */

}

@media screen and (max-width: 600px){

    /* -------------------- Header -------------------- */


    /* -------------------- Header -------------------- */

}

/* ********************************* Tablets ********************************* */

/* ********************************* Phones ********************************* */

@media screen and (max-width: 425px){

    /* -------------------- Header -------------------- */

    .header .title .title-text a{
        font-size: 4vw;
        margin-top: 7%;
    }

    /* -------------------- Header -------------------- */

}

/* ********************************* Phones ********************************* */